/* VARIABLES */
:root{
    /* BACKGROUND COLOR */
    --background-color: hsl(0, 22%, 74%);
}

/* BASE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    overflow-x: hidden;
}

/* CONTAINER */

/* FIRST CAROUSEL - THIRD CAROUSEL */


/* SECOND CAROUSEL */
